.group_torrent > td > br {
    display: none;
}

.add_bookmark {
    display: none;
}

.torrent > td > br {
    display: none;
}

#content {
    margin: auto;
    width: 960px;
    overflow: hidden;
    background: url(https://i.bj-share.info/6e3137369a20ade607c443b5b93bd684.png) repeat scroll 0 #303030 !important;
    position: relative;
    top: 60px;
}

.colhead > td:nth-child(3) {
    width: 65%;
}

.colhead > td:nth-child(4) {
    width: 17%;
}

.torrent > td > font > a > font {
    font-size: 10px
}

tr.torrent_row > td:nth-child(1) > a:nth-child(2) > strong:nth-child(2),
.torrent > td > font > a > font,
.group_torrent > td > font > a > font {
    font-size: 8.5px;
    padding: 0px 2px 0px 2px;
    border-radius:5px;
    color: white !important;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #2f416a;;
    border: 1px solid #2f416a;;
}

.group_info > div.torrent_info {
    font-weight: 500;
    font-family: Roboto, tahoma, helvetica, sans-serif;
    font-size: 13px;
}

.group_info,
.group_info > a.tooltip {
    font-weight: 500;
    font-family: Roboto, tahoma, helvetica, sans-serif;
    font-size: 14.5px;
}

.torrent_table div.tags {
    font-weight: 400;
    font-family: Roboto, tahoma, helvetica, sans-serif;
    font-size: 12px;
    color: #b5b5b5;
    padding: 0;
}
