@media only screen and (max-width: 613px) {
    .table-responsive .btn {
        display: inline-block !important; 
        margin: 4px !important;
        width: 2% !important;
    }
}

.table {
    width: 65% !important;
    margin: 0 auto !important;
}

.torrent-listings-stats {
    float: right !important;
    width: 100% !important;

    background-color: #1b1b1b !important;
}

tbody>tr>td, thead>tr>th {
    font-size: 12px !important;
}

.torrent-listings-name {
    font-size: 14px  !important;
}

.torrent-listings-format{
    
    display: inline-flex !important;
}

.table-striped>tbody>tr:nth-of-type(odd) {
     background-color: #262626  !important;
}

.panel-body, .table-striped>tbody>tr, .table>tbody>tr.info>td {
    background-color: #272727 !important;
}

.panel-body, .table-striped>tbody>tr.success {
    background-color: #404040 !important;
}

tr:last-child {
    background-color: #353535  !important;
}

.btn-success, .btn-success:hover, .label-success {
    background-color: transparent !important;
    background-image: none !important;
    font-size: 12px  !important;
}

.text-center {
    text-align: center !important;
    padding: 0px  !important;
}

.label {
    padding: 2px !important;

}

.text-center > i{
    padding-right: 5px !important;
    font-size: 18px  !important;

}

.badge-extra, .badge-user {
    font-size: 12px  !important;
}

.torrent-listings-format div.text-center:nth-child(2) {
    width: 50% !important;
}

.torrent-listings-format div.text-center:nth-child(3) {
    width: 50% !important;
    padding-top: 15px  !important;
}

nav {
    height: 60px
}

