@media (min-width: 1024px)
{
	#facetedSearch{
	  margin: 0 auto;
	  width: 70%
	}
}
a.view-torrent, a.view-torrent:hover {
    font-size: 16px;
}
.badge-extra, .badge-user {
  font-size: 11px;
}
span.label {
  font-size:11px;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 4px;
}
td>br:nth-of-type(2) {
  display: none;
}
.text-center{
  padding-top: 0px !important;
  padding: 2px;
}
div.header>div.inner_content>h1 {
	font-size: 2em;
}
.form-control {
    height: 30px;
}
.breadcrumb {
    padding: 5px;
    margin-bottom: 2px !important;
}
.table>tbody>tr.success>td, .table>tbody>tr.success>th, .table>tbody>tr>td.success, .table>tbody>tr>th.success, .table>tfoot>tr.success>td, .table>tfoot>tr.success>th, .table>tfoot>tr>td.success, .table>tfoot>tr>th.success, .table>thead>tr.success>td, .table>thead>tr.success>th, .table>thead>tr>td.success, .table>thead>tr>th.success {
    background-color: #16181f!important;
}
.pagination>li>a, .pagination>li>span {
    padding: 3px 8px;
}
.hoe-header-profile a img {
    height: 28px;
    margin-top: -2px;
    width: 28px;
}
.panel-body>span {
  font-family: Roboto Mono,Menlo,Monaco,Consolas,Courier New,monospace;
  font-style:normal;  
  font-size: 12px;
}
.panel-body>span>em {
  font-style:normal;  
}
.decoda-code {
  font-family: Roboto Mono,Menlo,Monaco,Consolas,Courier New,monospace;
  font-style:normal;  
  font-size: 12px;
}
tbody>tr>td, thead>tr>th {
    font-size: 14px;
}
div.torrent>div:nth-child(1) {
  display:none
}
div.torrent>div:nth-child(8) {
  display:none
}
.movie-poster {
    display: block;
    margin-top: 0;
    width: 280px;
    border: 5px solid #292e35;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.img-people {
    height: 94px !important;
}
.movie-overview {
  line-height: 1.4;
}
.movie-heading-box>br:nth-of-type(1){
  display:none;
}
.movie-heading>span
 {
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
 }
.movie-poster {
    width: 230px;
}
.movie-wrapper {
    min-height: 300px;
}
.col-md-push-3 {
    left: 21%;
}
.cast-list {
   margin-right: 0px !important;
}
.movie-overview {
    line-height: 1;
}

.movie-details {
    padding-bottom: 0px;
    padding-top: 2px;
}
.row.cast-list {
    margin-top: 1%;
}
